.chatbot-body-style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.user.message {
  max-width: 65%;
  border-top: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
  background-color: #f1c40f;
  text-align: left;
  border-radius: 15px;
  margin-left: auto;
}

.chatbot.message {
  max-width: 65%;
  border-top: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
  background-color: #e6e6e6;
  text-align: left;
  border-radius: 15px;
  margin-right: auto;
}
#chat-container {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}
#chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
}
#user-input {
  display: flex;
  padding: 10px;
  flex-direction: column;
}
#user-input input {
  flex: 1;
  padding: 10px;
  outline: none;
}
#user-input button {
  border: none;
  background-color: #1e88e5;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
}
#user-input-error-messages {
  margin-top: 10px; /* 수정된 부분 */
  color: tomato;
}
