@font-face{
  font-family: "Pretendard";
  font-display: fallback;
  font-weight: normal;
  font-style: normal;
  
  src:
    url('./Pretendard-Medium.otf') format('opentype'),
    url('./Pretendard-Medium.woff') format('woff'),
    url('./Pretendard-Medium.woff2') format('woff2');
}

@font-face{
  font-family: "Pretendard";
  font-display: fallback;
  font-weight: bold;
  font-style: normal;

  src:
    url('./Pretendard-Bold.otf') format('opentype'),
    url('./Pretendard-Bold.woff') format('woff'),
    url('./Pretendard-Bold.woff2') format('woff2');
}