.react-calendar {
  font-family: 'Arial, sans-serif';
  width: 900px;
  height: 700px;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 24px;
  color: #0f033fec;
}

.react-calendar__navigation {
  background-color: #2d99f1b9;
  border-bottom: 1px solid #ccc;
  border-radius: 8px 8px 0 0;
  padding: 10px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.react-calendar__tile {
  width: 100px;
  height: 100px;
  font-size: 12px;
  position: relative;
}

.react-calendar__tile--now {
  background-color: #2d99f180;
}

.add-btn {
  background-color: #2286e4be;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  margin: 1px;
  cursor: pointer;
}

.edit-btn {
  background-color: #2286e4be;
  color: white;
  border: none;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  margin: 1px;
  cursor: pointer;
}