.title {
  color: #026397;
  padding: 10px;
  margin-bottom: 20px;
}

.subtitle {
  color: #4285f4;
  margin-bottom: 20px;
}

#content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-list {
  list-style: none;
  padding: 0;
  color: #026397;
}

.review-item {
  background-color: #e0f7fa;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0289d16c;
  }
}

.user-info-container {
  background-color: #e0f7fa;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-info {
  margin-bottom: 12px;
  margin-top: 12px;
  color: #0288d1;
}

.info-label {
  font-weight: bold;
  margin-right: 8px;
  color: #026397;
}

.edit-form-container {
  background-color: #e0f7fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.calendar-event {
  color: #fff; /* 글자색상 */
  padding: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
