.sidebar-link {
  /* 전체 메뉴 항목에 대한 스타일 */
  padding: 10px;
  color: #007bff; /* 일반 글자 색상 */
}

.sidebar-link:hover {
  /* 활성화된 메뉴 항목에 대한 스타일 */
  background-color: #007bff; /* 활성화된 박스 색상 */
  color: #fff; /* 활성화된 글자 색상 */
}